.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
  }
  .link {
    font-size: 20px;
    font-weight: 500;
    color: #525252;
  }
  
  .active {
    color: #0e73a9;
  }
  
  .head {
    padding-top: 20px;
    padding-bottom: 20px;
  }